<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Suchar codzienny</title>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/CategoriesServiceFactory.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body ng-controller="MainCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #99FFFF; border-color: #000000;">
  <div class="container-fluid">
    <p class="text-center" style="color:#ffffff; font-size:25px">Suchar codzienny</p>
  </div>
</nav>



    <div class="jumbotron" style="background-color: #333333; border-color: #aaaaaa;">
    <div class="container">
    <div class="row" style="color: #F5F5F5">
     <div class="col-sm-4">
         <h3>Kategorie</h3>
          <button type="button" class="btn btn-danger btn-block" ng-click="removeCategory()">Usuń kategorię</button>
         <br>
         <ul class="nav nav-pills nav-stacked" role="tablist">
               <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}" style=" border: 1px solid; border-radius: 5px;background-color: #FFFFFF;">
                   <a ng-click="setCurrentCategory(category)">
                   {{category.name}}
                   </a>
               </li>
        </ul>
        <br><br><br><br>
    </div>
    </div>
    </div>
    </div>
    
    <div class="jumbotron" style="background-color: #aaaaaa; border-color: #aaaaaa;">
    <div class="container">
    <div class="row" style="color: #F5F5F5">
            <h4>Dodaj kategorię</h4>
            <form role="form" ng-submit="addCategory(category)">
                <div class="form-group">
                   <label for="name">Kategoria</label>
                   <input id="name" class="form-control" type="text" ng-model="category.name" placeholder="Nowa kategoria" />
                </div>
                   <button class="btn btn-default" type="submit">Dodaj</button>
            </form>

    </div>
    </div>
    </div>




<nav class="navbar navbar-default" style="background-color: #000000; border-color: #000000;">
  <div class="container-fluid" >
      <p class="text-center"><br></p>
  </div>
</nav>
</body>
</html>
