<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Suchar codzienny</title>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/CategoriesServiceFactory.js"></script>
    <script type="text/javascript" src="js/BookmarksServiceFactory.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body ng-controller="MainCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #99FFFF; border-color: #000000;"> <!---górny pasek-->
<div class="container-fluid">
    <p class="text-center" style="color:#ffffff; font-size:25px" ng-click="">Suchar codzienny</p>
  </div>
</nav>



    <div class="jumbotron" style="background-color: #333333; border-color: #aaaaaa;"><!--tło kategorii-->
    <div class="container">
    <div class="row" style="color: #F5F5F5">
     <div class="col-sm-4">
         <h3>Kategorie</h3>
          
         <br>
         <ul class="nav nav-pills nav-stacked" role="tablist">
               <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}" style=" border: 1px solid; border-radius: 5px;background-color: #FFFFFF;">
                   <a ng-click="setCurrentCategory(category)">
                   {{category.name}}
                   </a>
               </li>
        </ul>
        <br>
        <button type="button" class="btn btn-danger btn-block" ng-click="removeCategory()">Usuń kategorię</button>
        <br><br><br><br>
    </div>
    <div class="col-sm-4" >
        <h3>Strony</h3>
        <br>
        <ul class="nav nav-pills nav-stacked" role="tablist">
           <li ng-repeat="bookmark in bookmarks | filter:currentCategory.name" ng-class="{'active':isCurrentBookmark(bookmark)}" style=" border: 1px solid; border-radius: 5px;background-color: #FFFFFF;">
                <a ng-click="setCurrentBookmark(bookmark)" ui-sref="bookmark"> {{bookmark.title}} </a>
           </li>
    </ul>
    <br><br><br><br>
    </div>
    
    <div class="col-sm-4">
        <h3>Dane strony</h3>
        <br>
        <div ui-view style="color: #000000"></div>
    <br><br>
    
    </div>
    </div>
    </div>
    
    <div class="jumbotron" style="background-color: #aaaaaa; border-color: #aaaaaa;">
    <div class="container">
    <div class="row" style="color: #F5F5F5">
            <h4>Dodaj kategorię</h4>
            <form role="form" ng-submit="addCategory(category)">
                <div class="form-group">
                   <label for="name">Kategoria</label>
                   <input id="name" class="form-control" type="text" ng-model="category.name" placeholder="kategoria" />
                </div>
                   <button class="btn btn-default" type="submit">Dodaj kategorię</button>
            </form>

    </div>
    </div>
    </div>

    <div class="jumbotron" style="background-color: #aaaaaa">
    <div class="container">
    <div class="row">
    <div ng-if="shouldShowCreating()">
    <h4>Dodaj stronę</h4>
    <form ng-submit="addBookmark(bookmark)" role="form">
             <div class="form-group">
                <label for="newBookmarkTitle">Nazwa</label>
                <input class="form-control" type="text" id="newBookmarkTitle" ng-model="bookmark.title">
            </div>
            <div class="form-group">
                <label for="newBookmarkURL">URL</label>
                <input class="form-control" type="text" id="newBookmarkURL" ng-model="bookmark.url">
            </div>
            <div class="form-group">
                <label for="newBookmarkDescription">Opis</label>
                <input class="form-control" type="text" id="newBookmarkDescription" ng-model="bookmark.description">
            </div>
            <div class="form-group">
                <label for="newBookmarkCategory">Kategoria</label>
                <select id = "newBookmarkCategory" class="form-control" ng-model="bookmark.categoryname"
                     ng-options="category.name as category.name for category in categories">
                </select>
            </div>
            <button class="btn btn-default" type="submit">Dodaj stronę</button>
    </form>
    </div>
    </div>
    </div>
    </div>
<nav class="navbar navbar-default" style="background-color: #660099; border-color: #000000;"><!--dolny pasek-->
  <div class="container-fluid" >
      <p class="text-center"><br></p>
  </div>
</nav>
</body>
</html>
